/*=================
	CORE
=================*/

html {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	background-color: hsl(195, 82%, 9%);
	min-height: 100vh;
}

.color {
	color: currentColor;
}

.bg-color {
	background-color: currentColor;
}

hr {
	margin: 1em 0;
	background-color: currentColor;
	border: 0;
	height: 0.1em;
}

/*=================
	TYPOGRAPHY
=================*/

@font-face {
	font-family: system;
	font-style: normal;
	font-weight: 300;
	src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Segoe UI Light"), local("Ubuntu Condensed"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

.body-font,
body {
	font-family: "system", sans-serif;
}

body {
	font-size: 1rem;
	color: hsl(186, 8%, 60%);
}

a[href]:not([class]) {
	color: hsl(175, 59%, 40%);
	font-weight: bold;
	text-decoration: none;
	border-bottom: 0.1em solid hsl(175, 59%, 40%);
	/*padding: 0.1em 0.2em 0;*/
	/*margin: -0.1em -0.2em 0;*/
	transition: background-color 0.2s;
}

a[href]:not([class]):hover {
	background-color: hsla(175, 59%, 40%, 0.1);
}

a[href]:not([class]):active {
	background-color: hsla(175, 59%, 40%, 0.3);
	transition-duration: 0s;
}

a[href="#0"]:not([class]) {
	border-bottom: 0.1em dotted hsl(175, 59%, 40%);
}

p, .body-type {
	font-size: 1.15rem;
	line-height: 1.3em;
	text-indent: 0em;
}

p {
	padding-bottom: 1.5em;
}

h2 {
	padding-top: 2rem;
}

/*=================
	Header
=================*/

.site-header-id {
	max-width: 50rem;
	margin: 0 auto;
	height: 4rem;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
}

.site-header-id h1 {
	display: inline-block;
}

.header-logo {
	color: hsl(175, 59%, 40%);
	text-decoration: none;
	display: flex;
	border-bottom: none;
	padding: 1rem;
	margin: -1rem;
}

.header-logo:hover {
	transition: background-color 0.2s;
	background-color: hsla(175, 59%, 40%, 0.1);
}

.logo {
	height: 2rem;
	margin-right: 1rem;
}

.site-header-banner {
	height: 16rem;
	width: 100%;
	background-color: hsl(195, 82%, 15%);
	text-align: center;
}

canvas {
	width: 100%;
	height: 100%;
}

/*=================
	MAIN
=================*/

main {
	min-height: calc(100vh - 10rem);
}

.main-section {
	width: 100%;
	max-width: 50rem;
	padding: 1rem;
	margin: 0 auto;
	margin-top: 2rem;
}

figure {
	text-align: center;
	max-width: 100%;
	padding: 1rem 0 2rem 0;
}

img {
	max-width: 100%;
}

/*=================
	FOOTER
=================*/

.site-footer {
	width: 100%;
	min-height: 4rem;
	padding: 1rem;
}

.footer-section {
	display: flex;
	justify-content: center;
}

.site-footer a {
	margin: 0 1rem;
	flex-shrink: 0;
}

/*=================
	PORTAL
=================*/

.portal-main {
	display: flex;
	flex-flow: wrap;
	align-items: baseline;
	justify-content: space-between;
}

.portal-column {
	width: calc((50rem / 3) - 1.5rem);
	height: 100%;
	padding: 1rem;
}

.portal-column > h2 {
	font-size: 2rem;
}

.portal-nav ul {
	list-style: none;
}

.portal-nav li {
	margin-bottom: 0.5em;
}

@media (max-width: 50rem){
	.portal-main {
		flex-direction: column;
		align-items: center;
	}
}

/*=================
	BLOG
=================*/

.blog-main > h1 {
	margin-bottom: 2rem;
}

.blog-entry {
	margin-bottom: 4rem;
}

/*=================
	ASSN
=================*/

.user-dp {
	height: 16rem;
	border-radius: 8rem;
}

.centered {
	text-align: center;
}